doctype html
html.no-js
    head
        meta(charset='utf-8')
        |   
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        |   
        title Developer 김성우 포트폴리오
        |   
        meta(name='description', content='')
        |   
        meta(name='viewport', content='width=device-width, initial-scale=1')
        |   
        link(rel='stylesheet', href='portfolio/css/normalize.css')
        |   
        link(rel='stylesheet', href='portfolio/css/font-awesome.css')
        |   
        link(rel='stylesheet', href='portfolio/css/bootstrap.min.css')
        |   
        link(rel='stylesheet', href='portfolio/css/templatemo-style.css')
        |   
        script(src='portfolio/js/vendor/modernizr-2.6.2.min.js')
    body
        .responsive-header.visible-xs.visible-sm
            .container
                .row
                    .col-md-12
                        .top-section
                            .profile-image
                                img(src='portfolio/img/profile.jpg', alt='Volton')
                            |             
                            .profile-content
                                h3.profile-title 김성우
                                |               
                                p.profile-description Front-end Developer
                |       
                a.toggle-menu(href='#')
                    i.fa.fa-bars
                |       
                .main-navigation.responsive-menu
                    ul.navigation
                        li
                            a(href='#top')
                                i.fa.fa-home
                                | Home
                        |           
                        li
                            a(href='#about')
                                i.fa.fa-user
                                | About Me
                        |           
                        li
                            a(href='#projects')
                                i.fa.fa-newspaper-o
                                | Skill
                        |           
                        li
                            a(href='#contact')
                                i.fa.fa-envelope
                                | Contact Me
        |   
        .sidebar-menu.hidden-xs.hidden-sm
            .top-section
                .profile-image
                    img(src='portfolio/img/profile.jpg', alt='Volton')
                |       
                h3.profile-title 김성우
                |       
                p.profile-description Front-end Developer
            |     
            .main-navigation
                ul.navigation
                    li
                        a(href='#top')
                            i.fa.fa-globe
                            | Welcome
                    |         
                    li
                        a(href='#about')
                            i.fa.fa-pencil
                            | About Me
                    |         
                    li
                        a(href='#projects')
                            i.fa.fa-paperclip
                            | My Gallery
                    |         
                    li
                        a(href='#contact')
                            i.fa.fa-link
                            | Contact Me
            |     
            .social-icons
                ul
                    li
                        a(href='#')
                            i.fa.fa-facebook
                    |         
                    li
                        a(href='#')
                            i.fa.fa-twitter
                    |         
                    li
                        a(href='#')
                            i.fa.fa-linkedin
                    |         
                    li
                        a(href='#')
                            i.fa.fa-google-plus
                    |         
                    li
                        a(href='#')
                            i.fa.fa-youtube
                    |         
                    li
                        a(href='#')
                            i.fa.fa-rss
        |   
        #top.banner-bg
            .banner-overlay
            |     
            .welcome-text
                h2 
                  | 안녕하세요! 방문해 주셔서 감사합니다!
                |       
                h5
                    | This is a mobile friendly layout with Bootstrap v3.3.1 framework. Maecenas eu ante at nunc posuere fringilla sit amet non dolor. Proin condimentum fermentum nunc.
        |   
        .main-content
            .fluid-container
                .content-wrapper
                    #about.page-section
                        .row
                            .col-md-12
                                h4.widget-title Learn About Me
                                |               
                                .about-image
                                    img(src='portfolio/img/8.jpg', alt='about me')
                                |               
                                p
                                    | Volton is free website design from 
                                    span.blue template
                                    span.green mo
                                    | . You can use this template for any purpose. Please tell your friends about it. Thank you. Credit goes to 
                                    a(rel='nofollow', href='http://unsplash.com', target='_parent') Unsplash
                                    |  for images used in this design. You can 
                                    strong change menu icons
                                    |  by checking 
                                    a(rel='nofollow', href='http://fontawesome.info/font-awesome-icon-world-map/', target='_parent') Font Awesome
                                    |  (version
                                    |                 4). Example: 
                                    strong <i class="fa fa-camera"></i>
                                |               
                                hr
                    |         
                    #projects.page-section
                        .row
                            .col-md-12
                                h4.widget-title PHOTOS OF WHAT I DO
                                |               
                                p
                                    | Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Maecenas et lorem molestie, maximus justo dignissim, cursus nisl. Nullam at ante quis ex pharetra
                                    | pulvinar quis id dolor. Integer lorem odio, euismod ut sem sit amet, imperdiet condimentum diam.
                        |           
                        .row.projects-holder
                            .col-md-4.col-sm-6
                                .project-item
                                    img(src='portfolio/img/1.jpg', alt='')
                                    |                 
                                    .project-hover
                                        .inside
                                            h5
                                                a(href='#') Pellentesque porta ligula
                                            |                     
                                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam cursus
                            |             
                            .col-md-4.col-sm-6
                                .project-item
                                    img(src='portfolio/img/2.jpg', alt='')
                                    |                 
                                    .project-hover
                                        .inside
                                            h5
                                                a(href='#') Pellentesque porta ligula
                                            |                     
                                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam cursus
                            |             
                            .col-md-4.col-sm-6
                                .project-item
                                    img(src='portfolio/img/3.jpg', alt='')
                                    |                 
                                    .project-hover
                                        .inside
                                            h5
                                                a(href='#') Pellentesque porta ligula
                                            |                     
                                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam cursus.
                            |             
                            .col-md-4.col-sm-6
                                .project-item
                                    img(src='portfolio/img/4.jpg', alt='')
                                    |                 
                                    .project-hover
                                        .inside
                                            h5
                                                a(href='#') Pellentesque porta ligula
                                            |                     
                                            p
                                                | Quisque mattis sit amet dolor eu scelerisque. Vivamus bibendum massa et nisl tempus commodo.
                            |             
                            .col-md-4.col-sm-6
                                .project-item
                                    img(src='portfolio/img/5.jpg', alt='')
                                    |                 
                                    .project-hover
                                        .inside
                                            h5
                                                a(href='#') Pellentesque porta ligula
                                            |                     
                                            p
                                                | Quisque mattis sit amet dolor eu scelerisque. Vivamus bibendum massa et nisl tempus commodo.
                            |             
                            .col-md-4.col-sm-6
                                .project-item
                                    img(src='portfolio/img/6.jpg', alt='')
                                    |                 
                                    .project-hover
                                        .inside
                                            h5
                                                a(href='#') Pellentesque porta ligula
                                            |                     
                                            p
                                                | Quisque mattis sit amet dolor eu scelerisque. Vivamus bibendum massa et nisl tempus commodo.
                    |         
                    hr
                    |         
                    #contact.page-section
                        .row
                            .col-md-12
                                h4.widget-title PLACE TO TALK WITH ME
                                |               
                                p
                                    | Vestibulum ac iaculis erat, in semper dolor. Maecenas et lorem molestie, maximus justo dignissim, cursus nisl. Nullam at ante quis ex pharetra pulvinar quis id dolor. Integer lorem odio, euismod ut sem sit amet, imperdiet condimentum diam.
                        |           
                        .row
                            form.contact-form(action='#', method='post')
                                fieldset.col-md-4.col-sm-6
                                    input#your-name(type='text', placeholder='Your Name...')
                                |               
                                fieldset.col-md-4.col-sm-6
                                    input#email(type='email', placeholder='Your Email...')
                                |               
                                fieldset.col-md-4.col-sm-12
                                    input#your-subject(type='text', placeholder='Subject...')
                                |               
                                fieldset.col-md-12.col-sm-12
                                    textarea#message(name='message', cols='30', rows='6', placeholder='Leave your message...')
                                |               
                                fieldset.col-md-12.col-sm-12
                                    input.button.big.default(type='submit', value='Send Message')
                    |         
                    hr
                    |         
                    #footer.row
                        .col-md-12.text-center
                            p.copyright-text Copyright © 2015 Company Name
        |   
        script(src='portfolio/js/vendor/jquery-1.10.2.min.js')
        |   
        script(src='portfolio/js/min/plugins.min.js')
        |   
        script(src='portfolio/js/min/main.min.js')
